.app-container {
  margin: auto;
  width: auto;
  padding: 10px;
  text-align: center;
}

.app-switch-view-info-label {
  color: white;
}

.app-switch-view-container {
  display: flex;
  justify-content: center;
}